<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>Product Catalog</h2>

<table>
    <% @products.each do |product| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

        <td><%= image_tag(product.image, class: 'list_image') %></td>

        <td class="list_description">
            <dl>
                <dt><%= product.name %></dt><br>
                <dd><%= product.description %></dd><br>
                <b><%= product.price %></b>
            </dl>

        </td>

        <td class="list_actions">
            <%= button_to 'Add to Cart', lineitems_path(product_id: product), class: "add_to_cart", remote: true %>
            <%= link_to 'Show', product %><br>
        </td>
    </tr>

    <% end %>
</table>