<!DOCTYPE html>
<html>

<head>
    <title>Eshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= controller.controller_name %>">
    <div id="banner">
        <%= image_tag("logo.gif", class: 'logo') %>
        <h1><%= @page_title || "Pusheen Shop" %></h1>
    </div>
    <div id="columns">
        <div id="side">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shopper">Catalog</a></li>
                <li><a href="#">Account</a></li>
                <li><a href="/carts">Cart</a></li>
            </ul>
            hohum
            <div id="cart">
                <%= render @cart %>
            </div>
        </div>
        <div id="main">
            <%= yield %>
        </div>
    </div>
</body>

</html>